* {
  box-sizing: border-box;
}

body {
  background-color: #d1e0fc;
  font-family: 'Montserrat', sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.background-img {
  background-image: url('../public/sky.jpg');
  background-size: cover;
  border-radius: 20px;
}

.weather-area {
  width: 572px;
  height: 382px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: white;
}

.date-item {
  text-align: right;
}

.city-name {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 7px;
  font-style: italic;
}

.weather-wrapper {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background: rgba(125, 134, 155, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  align-self: center;
}

.weather-title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.weather-temp {
  font-size: 2rem;
}

.button-area {
  width: 572px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #666a73;
}

.btn-item {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  background-color: #666a73;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 2.5rem;
  font-weight: bold;
  border: 3px solid #bebebe;
  color: white;
}

.btn-item:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: powderblue;
}
